<div ng-init="init()">
    <snap-drawer class=bg-dark>
        <div class=snap-menu>
            <div class="sidebar-header text-center"> <img src=images/flat-avatar.png class="sidebar-img img-circle"> </div>
            <ul class=snap-ul>
                <li ng-class="{active: $state.includes('slidelist')}"><a ui-sref=slidelist>Danh sách slide</a></li>
                <li ng-class="{active: $state.includes('slide')}"><a ui-sref=slide>Thêm slide</a></li>
                <li ng-class="{active: $state.includes('filmlist')}"><a ui-sref=filmlist>Danh sách phim</a></li>
                <li ng-class="{active: $state.includes('showinglist')}"><a ui-sref=showinglist>Danh sách suất chiếu</a></li>
                <!-- <li ng-class="{active: $state.includes('ticketpricelist')}"><a ui-sref=ticketpricelist>Danh sách giá vé</a></li> -->
                <li ng-class="{active: $state.includes('theaterlist')}"><a ui-sref="theaterlist">Rạp chiếu phim</a></li>
                <li><a ui-sref=login>Đăng xuất</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close=false class=bg-dark>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> <span class=menutoggle> <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i> <i ng-show=menuOpen class="fa fa-times fa-2x"></i> </span> </a>
        <div class=fr>
            <h2>Chỉnh sửa thông tin</h2>
        </div>
        <div class="">
            <div class="container">
                <h2>Phim đang chiếu</h2>
                <div class="format">
                    <label for="film" class="col-xs-6">Tên phim: </label>
                    <input id="film" class="textbox col-xs-6 inputformat">
                </div>
                <div class="format">
                    <label for="start_date" class="col-xs-6">Ngày khởi chiếu: </label>
                    <input id="start_date" type="date" class="textbox col-xs-6 inputformat">
                </div>
                <div class="format">
                    <label for="end_date" class="col-xs-6">Ngày kết thúc: </label>
                    <input id="end_date" type="date" class="textbox col-xs-6 inputformat">
                </div>
                <div class="format">
                    <label for="type" class="col-xs-6">Thể loại: </label>
                    <input id="type" class="textbox col-xs-6 inputformat">
                </div>
                <div class="format">
                    <label for="actor" class="col-xs-6">Diễn viên: </label>
                    <textarea id="actor" class="bigtextbox col-xs-6 inputformat"></textarea>
                </div>
                <div class="format">
                    <label for="director" class="col-xs-6">Đạo diễn: </label>
                    <textarea id="director" class="bigtextbox col-xs-6 inputformat"></textarea>
                </div>
                <div class="format">
                    <label for="duration" class="col-xs-6">Thời lượng: </label>
                    <input id="duration" class="textbox col-xs-6 inputformat">
                </div>
                <div class="format">
                    <label for="version" class="col-xs-6">Version: </label>
                    <form class="radiobtn col-xs-6" action="">
                        <input id="ver1" size="20" type="checkbox" name="gender" value="AAA"> 2D
                        <input id="ver2" size="20" type="checkbox" name="gender" value="BBB"> 3D
                        <input id="ver3" size="20" type="checkbox" name="gender" value="4DX"> 4DX
                        <input id="ver4" size="20" type="checkbox" name="gender" value="CCC"> IMAX
                    </form>
                </div>
                <div class="format">
                    <label for="description" class="col-xs-6">Mô tả: </label>
                    <textarea id="description" class="bigtextbox col-xs-6 inputformat"></textarea>
                </div>
                <div class="format ">
                    <label for="language" class="col-xs-6">Ngôn ngữ: </label>
                    <select id="language" class="col-xs-6 textbox inputformat" ng-model="language" ng-options="item.name for item in languages" ng-click="#">
                        <option disabled selected value>
                            <h1>Chọn ngôn ngữ</h1>
                        </option>
                    </select>
                </div>
                <div class="format format1">
                    <input type="text" class="textbox" id="langarr" ng-model="langlist">
                    <button type="submit" style="margin-left: 20px;" class="btn" ng-click="langinit()">Thêm</button>
                </div>
                <div class="format">
                    <label for="theaters" class="col-xs-6">Rạp chiếu: </label>
                    <select id="theaters" class="col-xs-6 textbox inputformat" ng-options="item.name for item in theaters" ng-model="theater" ng-click="#">
                        <option disabled selected value>
                            <h1>Chọn rạp chiếu</h1>
                        </option>
                    </select>
                </div>
                <div class="format2">
                    <input type="text" class="textbox" id="theaterarr" ng-model="theaterlist">
                    <button type="submit" style="margin-left: 20px;" class="btn" ng-click="theaterinit()">Thêm</button>
                </div>
                <div class="format">
                    <label for="trailer" class="col-xs-6">Trailer: </label>
                    <input id="trailer" class="col-xs-6 textbox inputformat">
                </div>
                <div class="format">
                    <label for="warning" class="col-xs-6">Warning:</label>
                    <textarea id="warning" class="col-xs-6 bigtextbox inputformat"></textarea>
                </div>
                <div class="format">
                    <label for="input" class="col-xs-6 control-label">Poster</label>
                    <input id="input" type="file" class="col-xs-6 textbox2 inputformat" ng-click="uploadpicture()" multiple>
                </div>
                <div class="format">
                    <label for="state" class="col-xs-6">Tình trạng</label>
                    <form id="state" class="radiobtn col-xs-6" action="">
                        <input id="state1" size="20" type="radio" name="gender" value="now">Đang chiếu
                        <input id="state2" size="20" type="radio" name="gender" value="future">Sắp chiếu
                    </form>
                </div>
            </div>
            <div class="editfooter">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </snap-content>
</div>
