<div>
    <snap-drawer class="bg-dark">
        <div class=snap-menu>
            <div class="sidebar-header text-center"> <img src=images/flat-avatar.png class="sidebar-img img-circle"> </div>
            <ul class=snap-ul>
                <li ng-class="{active: $state.includes('home')}"><a ui-sref=home>HOME</a></li>
                <li ng-class="{active: $state.includes('filmlist')}"><a ui-sref=filmlist>Danh sách phim</a></li>
                <li ng-class="{active: $state.includes('showinglist')}"><a ui-sref=showinglist>Danh sách suất chiếu</a></li>
                <li ng-class="{active: $state.includes('ticketpricelist')}"><a ui-sref=ticketpricelist>Danh sách giá vé</a></li>
                <li ng-class="{active: $state.includes('theaterlist')}"><a ui-sref="theaterlist">Rạp chiếu phim</a></li>
                <li><a ng-click="logout1()">Đăng xuất</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close=false class=bg-dark>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> <span class=menutoggle> <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i> <i ng-show=menuOpen class="fa fa-times fa-2x"></i> </span> </a>
        <div class=fr>
            <h2>Danh sách phim</h2>
        </div>
        <div>
            <div class="container">
                <h2>Phim đang chiếu</h2>
                <p>Danh sách các phim đang chiếu</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên phim</th>
                            <th>Thể loại</th>
                            <th>Thời lượng</th>
                            <th>Khởi chiếu</th>
                            <th>Đạo diễn</th>
                            <th>Cảnh báo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in list1">
                            <td>{{x.name}}</td>
                            <td>{{x.genre}}</td>
                            <td>{{x.duration}}</td>
                            <td>{{x.start_time}}</td>
                            <td>{{x.director}}</td>
                            <td>{{x.warning}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-class="{active: $state.includes('editfilm')}"><a ng-click="edit1(x.code)">Edit</a></li>
                                        <li><a ng-click="delete(x.code)">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    <a class="btn btn-default" data-toggle="modal" data-target="#addfilmModal">ADD</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <h2>Phim sắp chiếu</h2>
                <p>Danh sách các phim sắp chiếu1</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên phim</th>
                            <th>Thể loại</th>
                            <th>Thời lượng</th>
                            <th>Khởi chiếu</th>
                            <th>Đạo diễn</th>
                            <th>Cảnh báo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in list2">
                            <td>{{x.film}}</td>
                            <td>{{x.genre}}</td>
                            <td>{{x.duration}}</td>
                            <td>{{x.start_time}}</td>
                            <td>{{x.director}}</td>
                            <td>{{x.warning}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-default" data-toggle="modal" data-target="#addfilmModal">ADD</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </snap-content>
</div>
