<div>
    <snap-drawer class="bg-dark">
        <div class=snap-menu>
            <div class="sidebar-header text-center"> <img src=images/flat-avatar.png class="sidebar-img img-circle"> </div>
            <ul class=snap-ul>
                <li ng-class="{active: $state.includes('slide')}"><a ui-sref=slide>Thêm slide</a></li>
                <li ng-class="{active: $state.includes('filmlist')}"><a ui-sref=filmlist>Danh sách phim</a></li>
                <li ng-class="{active: $state.includes('showinglist')}"><a ui-sref=showinglist>Danh sách suất chiếu</a></li>
                <!-- <li ng-class="{active: $state.includes('ticketpricelist')}"><a ui-sref="ticketpricelist">Danh sách giá vé</a></li> -->
                <li ng-class="{active: $state.includes('theaterlist')}"><a ui-sref="theaterlist">Rạp chiếu phim</a></li>
                <li><a ng-click="logout1()">Đăng xuất</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close=false class=bg-dark>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> <span class=menutoggle> <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i> <i ng-show=menuOpen class="fa fa-times fa-2x"></i> </span> </a>
        <div class=fr>
            <h2>Rạp</h2>
        </div>
        <div class="container">
            <h1 class="title">Rạp chiếu phim</h1>
        </div>
        <hr style="width: 600px; margin-left: 400px !important;">
        <div id="citylist" class="province">
            <ul>
                <li ng-repeat="x in provinces" class="btn col-md-3">
                    <h4 style="margin-top: 20px; margin-right: 30px;" ng-click="showtheaters(x.code)">{{x.name}}</h4></li>
            </ul>
            <hr style="width: 900px !important; margin-left: 50px !important;">
            <div id="hanoi">
                <ul>
                    <li ng-repeat="x in ptheaters" class="btn col-md-4" ng-click="#">
                        <h4 style="margin-top: 20px;" ng-click="showtheaterinfo(x.name, x.city_code, x.code)">{{x.name}}</h4></li>
                </ul>
            </div>
        </div>
        <div id="info">
            <h1 class="info">Thông tin rạp chiếu</h1>
            <div>
                <h2 id="theatername" class="theaterinfo"></h2>
                <div id="address"></div>
            </div>
            <div>
                <input type="button" value="Add" data-toggle="modal" data-target="#addtheaterModal" class="btn col-xs-6 col-sm-4" style="margin-top: 80px; margin-left: 200px; color: #000 !important; width: 70px;">
                <br>
                <input type="button" value="Edit" data-toggle="modal" data-target="#edittheaterModal" class="btn col-xs-6 col-sm-4" style="margin-top: 60px; margin-left: 30px;  color: #000 !important; width: 70px;">
                <br>
                <input type="button" value="Delete" ng-click="delete()" class="btn col-xs-6 col-sm-4" style="margin-top: 40px; color: #000 !important; margin-left: 30px; width: 70px;">
            </div>
        </div>
    </snap-content>
</div>
<div style="color: #000 !important;" ng-controller="theaterlistctrler" id="addtheaterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm rạp chiếu phim</h4>
            </div>
            <div class="modal-body row">
                <div class="format">
                    <label for="theatername2" class="col-xs-6">Tên rạp chiếu: </label>
                    <input id="theatername2" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="tel2" class="col-xs-6">Điện thoại: </label>
                    <input id="tel2" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="address2" class="col-xs-6">Địa chỉ: </label>
                    <input id="address2" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="map2" class="col-xs-6">Bản đồ: </label>
                    <input id="map2" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="room2" class="col-xs-6">Phòng chiếu: </label>
                    <input id="room2" class="textbox col-xs-6">
                    <label for="roomtype2" class="col-xs-6">Loại phòng chiếu</label>
                    <input id="roomtype2" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="input1" class="col-xs-6 control-label">Photo</label>
                    <input id="input1" type="file" class="col-xs-6 textbox2" ng-click="uploadphoto()" multiple>
                </div>
                <div class="format">
                    <label for="city2" class="col-xs-6">Thuộc thành phố: </label>
                    <select id="city2" class="col-xs-6 textbox" ng-model="city" ng-options="item.name for item in citys" ng-click="#">
                        <option disabled selected value>
                            <h1>Chọn thành phố</h1>
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="theateradd()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div style="color: #000 !important;" ng-controller="theaterlistctrler" id="edittheaterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa thông tin rạp chiếu</h4>
            </div>
            <div class="modal-body row">
                <div class="format">
                    <label for="theatername3" class="col-xs-6">Tên rạp chiếu: </label>
                    <input id="theatername3" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="tel3" class="col-xs-6">Điện thoại: </label>
                    <input id="tel3" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="address3" class="col-xs-6">Địa chỉ: </label>
                    <input id="address3" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="map3" class="col-xs-6">Bản đồ: </label>
                    <input id="map3" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="room3" class="col-xs-6">Phòng chiếu: </label>
                    <input id="room3" class="textbox col-xs-6">
                    <label for="roomtype3" class="col-xs-6">Loại phòng chiếu</label>
                    <input id="roomtype3" class="textbox col-xs-6">
                </div>
                <div class="format">
                    <label for="input3" class="col-xs-6 control-label">Photo</label>
                    <input id="input3" type="file" class="col-xs-6 textbox2" ng-click="uploadpicture()" multiple>
                </div>
                <div class="format">
                    <label for="city2" class="col-xs-6">Thuộc thành phố: </label>
                    <select id="city2" class="col-xs-6 textbox" ng-model="city" ng-options="item.name for item in citys" ng-click="#">
                        <option disabled selected value>
                            <h1>Chọn thành phố</h1>
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="theateredit()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>