<!doctype html>
<html class=no-js>

<head>
    <meta charset=utf-8>
    <title>Admin</title>
    <meta name=description>
    <meta name=viewport content="width=device-width">
    <link rel=stylesheet href=styles/vendor.css>
    <link rel=stylesheet href=styles/main.css>
    <link rel=stylesheet href=styles/home.css>
    <link rel=stylesheet href="styles/filmlist.css">
    <link rel=stylesheet href="styles/showinglist.css">
    <link rel=stylesheet href="styles/addfilm.css">
    <link rel=stylesheet href="styles/editfilm.css">
    <link rel=stylesheet href="styles/theaterlist.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src=scripts/vendor.js></script>
    <script src=scripts/scripts.js></script>
    <script src="scripts/home.js"></script>
    <script src=scripts/addfilm.js></script>
    <script src="scripts/filmlist.js"></script>
    <script src="scripts/editfilm.js"></script>
    <script src="scripts/showinglist.js"></script>
    <script src="scripts/ticketpricelist.js"></script>
    <script src="scripts/theaterlist.js"></script>
    <script src="scripts/addshowings.js"></script>
    <script src="config.js"></script>
</head>

<body ng-app=yapp>
    <!--[if lt IE 7]>
 <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
    <div>
        <div ui-view></div>
    </div>
    <div ng-controller="addfilmcontroller" id="addfilmModal" class="modal fade " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm phim vào danh sách đang chiếu</h4>
                </div>
                <div class="modal-body row">
                    <div class="format">
                        <label for="film" class="col-xs-6">Tên phim: </label>
                        <input id="film" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="start_date" class="col-xs-6">Ngày khởi chiếu: </label>
                        <input id="start_date" type="date" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="end_date" class="col-xs-6">Ngày kết thúc: </label>
                        <input id="start_date" type="date" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="type" class="col-xs-6">Thể loại: </label>
                        <input id="type" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="actor" class="col-xs-6">Diễn viên: </label>
                        <textarea id="description" class="bigtextbox col-xs-6"></textarea>
                    </div>
                    <div class="format">
                        <label for="director" class="col-xs-6">Đạo diễn: </label>
                        <textarea id="description" class="bigtextbox col-xs-6"></textarea>
                    </div>
                    <div class="format">
                        <label for="duration" class="col-xs-6">Thời lượng: </label>
                        <input id="duration" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="version" class="col-xs-6">Version: </label>
                        <form class="radiobtn col-xs-6" action="">
                            <input size="20" type="checkbox" name="gender" value="2D"> 2D
                            <input size="20" type="checkbox" name="gender" value="3D"> 3D
                            <input size="20" type="checkbox" name="gender" value="4DX"> 4DX
                            <input size="20" type="checkbox" name="gender" value="IMAX"> IMAX
                        </form>
                    </div>
                    <div class="format">
                        <label for="description" class="col-xs-6">Mô tả: </label>
                        <textarea id="description" class="bigtextbox col-xs-6"></textarea>
                    </div>
                    <div class="format">
                        <label for="language" class="col-xs-6">Ngôn ngữ: </label>
                        <select id="language" class="col-xs-6 textbox" ng-model="language" ng-options="item.name for item in languages" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn ngôn ngữ</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="theaters" class="col-xs-6">Rạp chiếu: </label>
                        <select id="theaters" class="col-xs-6 textbox" ng-options="item.name for item in theaters" ng-model="theater" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn rạp chiếu</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="trailer" class="col-xs-6">Trailer: </label>
                        <input id="trailer" class="col-xs-6 textbox">
                    </div>
                    <div class="format">
                        <label for="warning" class="col-xs-6">Warning:</label>
                        <textarea id="warning" class="col-xs-6 bigtextbox"></textarea>
                    </div>
                    <div class="format">
                        <label for="input" class="col-xs-6 control-label">Poster</label>
                        <input id="input" type="file" class="col-xs-6 textbox2" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="addshowingctrler" id="addshowingModal" class="modal fade " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm suất chiếu</h4>
                </div>
                <div class="modal-body row">
                    <div class="format">
                        <label for="film" class="col-xs-6">Phim: </label>
                        <select id="film" class="col-xs-6 textbox" ng-model="film" ng-options="item.name for item in films" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn phim</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="start_date" class="col-xs-6">Ngày: </label>
                        <input id="start_date" type="date" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="stime" class="col-xs-6">Thời gian bắt đầu: </label>
                        <input id="stime" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="room" class="col-xs-6">Phòng chiếu: </label>
                        <select id="room" class="col-xs-6 textbox" ng-model="room" ng-options="item.name for item in rooms" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn phòng</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="theaters" class="col-xs-6">Rạp chiếu: </label>
                        <select id="theaters" class="col-xs-6 textbox" ng-options="item.name for item in theaters" ng-model="theater" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn rạp chiếu</h1>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editshowingModal" class="modal fade " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sửa suất chiếu</h4>
                </div>
                <div class="modal-body row">
                    <div class="format">
                        <label for="film" class="col-xs-6">Phim: </label>
                        <select id="film" class="col-xs-6 textbox" ng-model="film" ng-options="item.name for item in films" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn phim</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="start_date" class="col-xs-6">Ngày: </label>
                        <input id="start_date" type="date" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="stime" class="col-xs-6">Thời gian bắt đầu: </label>
                        <input id="stime" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="room" class="col-xs-6">Phòng chiếu: </label>
                        <select id="room" class="col-xs-6 textbox" ng-model="room" ng-options="item.name for item in rooms" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn phòng</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="theaters" class="col-xs-6">Rạp chiếu: </label>
                        <select id="theaters" class="col-xs-6 textbox" ng-options="item.name for item in theaters" ng-model="theater" ng-click="#">
                            <option disabled selected value>
                                <h1>Chọn rạp chiếu</h1>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addticketpriceModal" class="modal fade " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm giá vé</h4>
                </div>
                <div class="modal-body row">
                    <div class="format">
                        <label for="stime" class="col-xs-6">Thời gian bắt đầu: </label>
                        <input id="stime" class="textbox col-xs-6">
                    </div>
                    <div class="format">
                        <label for="version" class="col-xs-6">Chọn version: </label>
                        <select id="version" class="col-xs-6 textbox" ng-model="version" ng-options="item.name for item in versions" ng-click="#">
                            <option disabled selected value>
                                <h1>Version</h1>
                            </option>
                        </select>
                    </div>
                    <div class="format">
                        <label for="price" class="col-xs-6">Giá vé: </label>
                        <input id="price" class="textbox col-xs-6">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script>
      var config = {
            apiKey: "AIzaSyCA9HKsBWIHIvMv0BTOUV4RWgGdDuYSssA",
            authDomain: "upload-picture.firebaseapp.com",
            databaseURL: "https://upload-picture.firebaseio.com",
            storageBucket: "upload-picture.appspot.com",
            messagingSenderId: "56060646483"
        };
        firebase.initializeApp(config);

        var email = "semilucias@gmail.com";
        var password = "hoaianh56";
    </script>
</body>

</html>
